@{
  Layout = "_Layout";
}

<h1>All Hours</h1>
<h3>@Model</h3>
<a href='/departments'><button class='btn btn-info'>View Departments</button></a>
<a href='/employees'><button class='btn btn-info'>View Employees</button></a>
<a href="/login"><button class="btn btn-info">Back Home</button></a>
