@{
  Layout = "_Layout";
}
<h3><a href="/totalshiftsperaccount">Total Shifts Per Account</a></h3>
<h3><a href="/allhours">All hours</a></h3>

<a href="/employees" class="btn btn-info">View Employees</a>
<a href="/departments" class="btn btn-info">View Departments</a>