@{
    Layout = "_Layout";
}

<h3>Total Hours Per Account</h3>
<form action="/totalshiftsperaccount" method="post">
    <div class="form-group">
        <label for="employeeId">View Employee's Hours: </label>
        <select id="employeeId" name="employeeId">
            @foreach (var employee in Model)
            {
                <option class="form-control" value="@employee.id">@employee.name</option>
            }
        </select>
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
</form>

<a href='/departments'><button class='btn btn-info'>View Departments</button></a>
<a href="/"><button class="btn btn-info">Back Home</button></a>