body {
  color: white;
  background-color: #9FC8C5;
  font-family: 'Noto Serif KR', sans-serif;
}

h4 {
  font-size: 18px;
}

form {
  /*Changed margin-top from 3% to 0%display:inline*/
  margin-top: 0px;
  display: inline;
}

div.card-body, form.card {
  background-color: #9FC8C5;
  border: none;
}

input.search-input{
  width: 80%;
  margin-left: 10%;
}

a.btn-info, button.btn-info {
  color: white;
  background-color: #455B77;
  margin-right: 1%;
  border: none;
}

button.btn-info:hover, a.btn-info:hover {
    color: #fff;
    background-color:	#88A7A5;
    border-color: white;
}

nav.navbar-gold {
  color: white;
  border-bottom: 2px double white;
}

nav a.navbar-brand{
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
}

div a{
  color: white;
}
.nav-item {
  margin-left: 5%;
}
nav a{
  color: white;
  font-size: 19px;
  text-decoration: none;
}

div a:hover, nav a:hover{
  color: #799593;
}

div.container-fluid {
  padding-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  min-height: 1000px;
}

div.logo{
  margin-top: 2%;
  text-align: left;
}

div.logo h1 {
  font-size: 58px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 0px;
  padding-top: 3%;
  border-top: 3px solid white;
}

div.logo p {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 1;
  text-decoration-style: wavy;
  color: #455B77;
  margin-bottom: 5%;
  padding-bottom: 3%;
  border-bottom: 3px solid white;
}

img.header {
  width: 100%;
  height: 420px;
  position:static;
  z-index: -1;
}

a.btn-secondary {
  background-color: #819977;
  font-size: 0.6rem;
}

.foreach {
  text-align: center;
  margin-bottom: 5%;
}

.foreach a:first-child {
  font-size: 25px;
  margin-right: 1%;
}

div.lists {
  margin-left: 33%;
  margin-right: 33%;
  height: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}

div h1 {
  text-transform: uppercase;
  margin-bottom: 0%;
}

div button {
  margin-top: 0%;
}

form label, form select {
  margin-left: 3%;
}

form input, form option {
  border-color: white;
  /*change display inline*/
  display: inline;
}

form button.btn-info {
  background-color: #779399;
  /*change display inline*/
  display: inline;
}

div.carousel-caption, .carousel-indicators {
  background-color: black;
  opacity: 0.7;
  border-radius: 10px;
}

.footer-custom {
  text-align: center;
  opacity: 0.8;
  color: white;
  padding: 3%;
  margin-top: 3%;
  background-color:	#1C827B;
  font-size: 13px;
}

footer .fa {
    display: inline;
    padding: 1px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}
